.task{
    background: #b7bbbb;
    color             : #444;
    max-width         : 375px;
    max-height: 600px;
    margin            : 0 auto;
    margin-top: 0.8em;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow        : 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius     : 6px;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    padding           : 10px;
    overflow          : hidden;
    position          : relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todos{

    display: flex;
}

i {
    cursor      : pointer;
    font-size   : larger;
    font-weight : 900;
    color       : grey;
}

.right{
    position: absolute;
    right: 10px;
    top: 6px;
}

.align{
    margin-top: 8px;
}

.text{
    position: absolute;
    top: 10px;
    left: 34px;
}

.down{
    font-size: 20px;
    margin-right: 7px;
}

.time-desplay , .date-desplay{
    float: right;
}